@charset "utf-8";

h2{color:blue;
    background-color:black
}

*{box-sizing:border-box;}

nav ul{background-color:#363;
       margin:0;
       padding:0;
       list-style-type:none;
       display:flex;
       flex-direction:column;
       width:7em;
}
nav a{color:#fff;
      padding:2px 1em;
      text-decoration:none;
      display:block;
}
nav a:hover{background-color:#696;
}
@media screen and (max-width:320px){
  nav ul{
    flex-direction:column;
  }
}
